{{- with .Site.Params.giscus }}
  {{- if and .repo (ne .repo "") (not ($.Params.disable_comments | default false)) }}
<script src="https://giscus.app/client.js"
  data-repo="{{ .repo }}"
  data-repo-id="{{ .repoID }}"
  data-category="{{ .category }}"
  data-category-id="{{ .categoryID }}"
  data-mapping="{{ default "pathname" .mapping }}"
  data-reactions-enabled="{{ default "1" .reactionsEnabled }}"
  data-emit-metadata="{{ default "0" .emitMetadata }}"
  data-input-position="{{ default "bottom" .inputPosition }}"
  data-theme="{{ default "preferred_color_scheme" .theme }}"
  data-lang="{{ default "en" .lang }}"
  data-loading="{{ default "lazy" .loading }}"
  crossorigin="anonymous"
  async>
</script>
  {{- end }}
{{- end }}
